<!DOCTYPE html>
<html>
	<head>
		<title>Akash Madhusudan's Personal Page</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/cv">CV</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">
    		<div class="blurb">
        		<h1>Hi there, I'm Akash Madhusudan!</h1>
				<p>I'm currently working at 3MI Labs, a cryptography research house based in the beautiful (and small) city of Leuven, Belgium. 
					There's been a lot that I did before though, check out this link! <a href="/about">Read more about my life...</a></p>
    		</div><!-- /.blurb -->
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:amverma48@gmail.com">email</a></li>
        		<li><a href="https://www.linkedin.com/in/akash-m-verma/">LinkedIn</a></li>
			</ul>
		</footer>
	</body>
</html>

