<!DOCTYPE html>
<html>
	<head>
		<!-- google analytics - i will not share this data with google -->
		{% include analytics.html %}
		<title>{{ page.title }}</title>
		<!-- styles -->
		<link href="/css/bootstrap.css" rel="stylesheet">
		<link href="/css/jumbotron-narrow.css" rel="stylesheet">
		<link href="/css/style.css" rel="stylesheet">
	</head>
	<body>
		<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TXGVF9CF"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/cv">CV</a></li>
			<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">

			
    		{{ content }}
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:amverma48@gmail.com">email</a></li>
        		<li><a href="https://www.linkedin.com/in/akash-m-verma/">LinkedIn</a></li>
			</ul>
		</footer>
	</body>
</html>

