<!DOCTYPE html>
<html>
	<head>
		<!-- google analytics - i will not share this data with google -->
		{% include analytics.html %}
		<title>{{ page.title }}</title>
		<!-- styles -->
		<link href="/css/bootstrap.css" rel="stylesheet">
		<link href="/css/jumbotron-narrow.css" rel="stylesheet">
		<link href="/css/style.css" rel="stylesheet">
		<link href="/css/main.css" rel="stylesheet">
	</head>
	<body>
		<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TXGVF9CF"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
		<ul class="nav nav-tabs">
  			<li class="nav-item">
   			<a class="nav-link Home" href="/">Home</a>
  			</li>
  			<li class="nav-item">
    			<a class="nav-link About" href="/about">About</a>
 			</li>
  			<li class="nav-item">
    			<a class="nav-link CV" href="/cv">CV</a>
  			</li>
  			<li class="nav-item">
    			<a class="nav-link Blog" href="/blog">Blog</a>
  			</li>
			<li class="nav-item pull-right">
    			<a class="nav-link Contact" href="/contact">Contact</a>
  			</li>
		</ul>
		<div class="container">

			
    		{{ content }}
		</div><!-- /.container -->
	</body>
</html>

